absl-py==0.12.0
astor==0.8.1
awscli==1.18.158
botocore==1.18.17
cached-property==1.5.2
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.3
decorator==4.4.2
docutils==0.15.2
gast==0.4.0
grpcio==1.37.1
h5py==2.10.0
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
importlib-metadata==4.0.1
jmespath==0.10.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.4
mock==4.0.3
moviepy==1.0.3
numpy==1.19.2
opencv-python==4.4.0.44
pandas==1.2.4
Pillow==8.1.2
proglog==0.1.9
protobuf==3.17.0
pyasn1==0.4.8
python-dateutil==2.8.1
python-http-client==3.3.1
pytz==2021.1
PyYAML==5.3.1
requests==2.25.1
rsa==4.5
s3transfer==0.3.3
scipy==1.6.3
sendgrid==6.4.7
six==1.15.0
starkbank-ecdsa==1.1.0
tensorboard==1.13.1
tensorflow==1.13.1 
tensorflow-estimator==1.13.0
termcolor==1.1.0
tqdm==4.59.0
typing-extensions==3.10.0.0
urllib3==1.25.10
Werkzeug==2.0.0
zipp==3.4.1
